local/
library/
temp/
node_modules/

build/jsb-link/frameworks/runtime-src/proj.ios_mac/GoogleMobileAds.framework/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/PluginAdMob.framework/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/PluginSdkboxAds.framework/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/sdkbox.framework/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/Test.xcodeproj/
build/jsb-link/publish/
build/
